body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.player-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #FFCCE1;
}

.player {
    width: 300px;
    height: 300px;
    background-color: #90CAF9;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.disc {
    width: 80%;
    height: auto;
}

.disc-svg {
    width: 100%;
    height: 100%;
}

.player-text {
    text-align: center;
    margin-top: -20px;
}

.player-text p {
    font-size: 12px;
    margin: 0;
}

.player-text h2 {
    font-size: 16px;
    margin: 5px 0 0 0;
}

.player-controls {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-top: 20px;
}

.player-controls button {
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 10px;
    width: 100%;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

#timeline-section {
    display: none;
    padding: 20px;
    background-color: #f4f4f4;
}
